<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jh.zkj.com.yf">

    <!-- 允许程序连接到已配对的蓝牙设备 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <!-- 允许程序发现和配对蓝牙设备 -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!-- 允许程序发现和配对蓝牙设备 -->
    <uses-permission-sdk-23 android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!--地理位置-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- ############################################################################### -->
    <!-- ##########################友盟 start ############################### -->
    <!-- ############################################################################### -->

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- ############################################################################### -->
    <!-- ########################## 友盟 End ############################### -->
    <!-- ############################################################################### -->

    <!-- ############################################################################### -->
    <!-- ########################## 极光推送要求权限 Start ############################### -->
    <!-- ############################################################################### -->
    <!-- Required -->
    <permission
        android:name="jh.zkj.com.yf.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />
    <!-- Required -->
    <uses-permission android:name="h.zkj.com.yf.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- Optional. Required for location feature -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- 用于开启 debug 版本的应用在 6.0 系统上的层叠窗口权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- ############################################################################### -->
    <!-- ########################## 极光推送要求权限 End ############################### -->
    <!-- ############################################################################### -->


    <application
        android:name=".Appliction.MAppliction"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_a"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_a"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activity.MainActivity"
            android:windowSoftInputMode="stateHidden|adjustPan">

            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN"/>-->

            <!--<category android:name="android.intent.category.LAUNCHER"/>-->
            <!--</intent-filter>-->
        </activity>
        <activity android:name=".Activity.ScanActivity" />
        <!-- 零售详情 -->
        <activity android:name=".Activity.Order.OrderDetailsActivity" />
        <!-- 零售收款 -->
        <activity android:name=".Activity.Order.RetailReceivableActivity" />
        <!-- 下单成功 -->
        <activity android:name=".Activity.Order.RetailOrderSubmitActivity" />
        <!-- 零售下单 -->
        <activity android:name=".Activity.Order.RetailOrderActivity" />
        <!-- 选择业务员 -->
        <activity android:name=".Activity.Order.SelectSalesmanActivity" />
        <activity android:name=".Activity.My.PhotoActivity" />
        <!-- 库存 -》筛选 -->
        <activity android:name=".Activity.Stock.FilterListActivity" />
        <!--  -->
        <activity android:name=".Activity.Order.SelectCommodityActivity" />
        <!-- 我的库存 -->
        <activity android:name=".Activity.My.MyOrderActivity" />
        <activity android:name=".Activity.My.UserNameActivity" />
        <activity android:name=".Activity.My.PhoneActivity" />
        <activity android:name=".Activity.My.ModifyPasswordActivity" />
        <activity android:name=".Activity.My.EmailActivity" />
        <activity android:name=".Activity.My.JoinCompanyCodeActivity" />
        <activity android:name=".Activity.My.PersonalFileActivity" />
        <activity android:name=".Activity.My.CompanyFilesActivity" />
        <!-- 分仓库存选择仓库 -->
        <activity android:name=".Activity.Stock.ChildWarehouseActivity" />
        <activity android:name=".Activity.Analyse.ShopAnalyseActivity" />
        <activity android:name=".Activity.Analyse.ShopManAnalyseActivity" />
        <activity android:name=".Activity.Analyse.SalesAnalyseActivity" />
        <!-- 选择客户 -->
        <activity android:name=".Activity.Order.SelectClientActivity" />
        <!-- 订单页二维码扫描 -->
        <activity android:name=".Activity.Order.OrderScanActivity" />
        <activity android:name=".Activity.My.LoginActivity" />
        <activity android:name=".Activity.My.ForgetPassWordActivity" />
        <activity android:name=".Activity.My.BindPhoneActivity" />
        <activity android:name=".Activity.Order.HarvestModeActivity"></activity>
        <activity android:name=".Activity.Home.BasicInfoActivity"></activity>
        <activity android:name=".Activity.Home.CompanyActivity"></activity>
        <activity android:name=".Activity.Order.ReceivableDetailActivity"></activity>
        <activity android:name=".Activity.Analyse.ClassifiedActivity" />
        <!-- 企业 -->
        <activity android:name=".Activity.My.EnterpriseActivity" />
        <!-- 企业审核 -->
        <activity android:name=".Activity.My.EntExamineActivity" />
        <!-- 创建企业成功 -->
        <activity android:name=".Activity.My.CreateEnterpriseSuccessActivity" />
        <!-- 企业详情 -->
        <activity android:name=".Activity.My.EnterpriseDetailActivity" />
        <activity android:name=".Activity.My.JoinCompanyInfoActivity" />
        <activity android:name=".Activity.My.JoinCompanyPasswordActivity" />
        <activity android:name=".Activity.My.LoginCompanyActivity" />
        <activity android:name=".Activity.Order.PrintActivity" />
        <activity android:name=".Activity.Order.PrintSettingActivity" />
        <activity android:name=".Activity.Order.SearchBluetoothActivity" />
        <activity android:name=".Activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <service android:name="jh.zkj.com.yf.Mutils.print.BtServiceOne" />

        <activity android:name=".Activity.System.SystemActivity" />
        <activity android:name=".Activity.My.ForgetCrmPasswordActivity" />
        <activity android:name=".Activity.Order.FindSerialNoActivity" />
        <activity android:name=".Activity.Insurance.InsListActivity" />
        <!-- 友盟start -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5c08d645b465f5714500031e"></meta-data>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}" />


        <!-- ############################################################################### -->
        <!-- ########################## 极光推送 Start ####################################### -->
        <!-- ############################################################################### -->
        <!-- Required SDK 核心功能-->
        <!-- 可配置 android:process 参数将 PushService 放在其他进程中 -->
        <!-- Rich push 核心功能 since 2.0.6-->
        <activity
            android:name="cn.jpush.android.ui.PopWinActivity"
            android:exported="false"
            android:theme="@style/MyDialogStyle"></activity>

        <!-- Required SDK核心功能-->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="jh.zkj.com.yf" />
            </intent-filter>
        </activity>

        <!-- Required SDK 核心功能-->
        <!-- 可配置android:process参数将PushService放在其他进程中 -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:exported="false"
            android:process=":pushcore">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>
        <!-- since 3.0.9 Required SDK 核心功能-->
        <provider
            android:name="cn.jpush.android.service.DataProvider"
            android:authorities="jh.zkj.com.yf.DataProvider"
            android:exported="false"
            android:process=":pushcore" />

        <!-- since 1.8.0 option 可选项。用于同一设备中不同应用的JPush服务相互拉起的功能。 -->
        <!-- 若不启用该功能可删除该组件，将不拉起其他应用也不能被其他应用拉起 -->
        <service
            android:name="cn.jpush.android.service.DaemonService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.DaemonService" />
                <category android:name="jh.zkj.com.yf" />
            </intent-filter>

        </service>
        <!-- since 3.1.0 Required SDK 核心功能-->
        <provider
            android:name="cn.jpush.android.service.DownloadProvider"
            android:authorities="jh.zkj.com.yf.DownloadProvider"
            android:exported="true" />
        <!-- Required SDK核心功能-->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" />   <!--Required  显示通知栏 -->
                <category android:name="jh.zkj.com.yf" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <!-- Required SDK核心功能-->
        <receiver
            android:name="cn.jpush.android.service.AlarmReceiver"
            android:exported="false" />

        <!-- User defined.  For test only  用户自定义的广播接收器-->
        <receiver
            android:name="jh.zkj.com.yf.Mutils.JpushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" /> <!--Required  用户注册SDK的intent-->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" /> <!--Required  用户接收SDK消息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" /> <!--Required  用户接收SDK通知栏信息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" /> <!--Required  用户打开自定义通知栏的intent-->
                <action android:name="cn.jpush.android.intent.CONNECTION" /><!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="jh.zkj.com.yf" />
            </intent-filter>
        </receiver>

        <!-- User defined.  For test only  用户自定义接收消息器,3.0.7开始支持,目前新tag/alias接口设置结果会在该广播接收器对应的方法中回调-->
        <receiver android:name="jh.zkj.com.yf.Mutils.MyJPushMessageReceiver">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.RECEIVE_MESSAGE" />
                <category android:name="jh.zkj.com.yf"></category>
            </intent-filter>
        </receiver>
        <!-- Required  . Enable it you can get statistics data with channel -->
        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="developer-default" />
        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="d3bdbc193574303db7ebf5fe" /> <!--  </>值来自开发者平台取得的AppKey-->

        <!-- ############################################################################### -->
        <!-- ########################## 极光推送 End ####################################### -->
        <!-- ############################################################################### -->
    </application>

</manifest>